<div id='new_profile_form'>
  <%= form_with model: profile, class: "row g-3 align-items-start mb-4" do |form| %>
    <div class="col-12 col-md-3">
      <%= form.text_field :name,
                          placeholder: Profile.human_attribute_name(:name),
                          class: "form-control #{'is-invalid' if profile.errors[:name].any?}" %>

      <% if profile.errors[:name].any? %>
        <div class="form-text">
          <%= profile.errors.full_messages_for(:name).first %>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-3">
      <%= form.text_field :github_url,
                          placeholder: Profile.human_attribute_name(:github_url),
                          class: "form-control #{'is-invalid' if profile.errors[:github_url].any?}" %>

      <% if profile.errors[:github_url].any? %>
        <div class="form-text">
          <%= profile.errors.full_messages_for(:github_url).first %>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-auto">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
