<%= turbo_frame_tag dom_id(@profile) do %>
  <div class="text-center mb-4">
    <%= image_tag profile.avatar_url, width: 120, class: "rounded-circle" %>
  </div>

  <p>
    <strong><%= Profile.human_attribute_name(:github_url) %>:</strong>
    <%= render_short_link(profile.short_url_mapping) %>
  </p>

  <% %i[
    name
    username
    followers_count
    following_count
    stars_count
    contributions_12mo_count
    organization
    location
  ].each do |attribute| %>
    <p>
      <strong><%= Profile.human_attribute_name(attribute) %>:</strong>
      <%= profile.public_send(attribute) %>
    </p>
  <% end %>
<% end %>
