<% content_for :title, t('.title') %>

<%= render 'shared/message' %>

<div>
  <h1><%= t('.title_new_profile') %></h1>
  <%= turbo_frame_tag 'new_profile_form' do %>
    <%= render 'form', profile: Profile.new %>
  <% end %>
<div>

<div>
  <h1><%= t('.title_list') %></h1>
  <%= render 'profiles/list', profiles: @profiles, translation_scope: 'profiles.index' %>
</div>
