<% content_for :title, t('.title') %>

<%= render 'shared/message' %>

<div>
  <h1><%= t('.title_new_profile') %></h1>
  <%= turbo_frame_tag 'new_profile_form' do %>
    <%= render 'form', profile: Profile.new %>
  <% end %>
<div>

<div>
  <h1><%= t('.title_list') %></h1>

  <%= form_with url: profiles_path, method: :get, data: { turbo_frame: 'profiles_list' } do |form| %>
    <%= form.select :field,
                    options_for_select(profiles_select_fields, params[:field]),
                    {},
                    class: 'form-select' %>

    <%= form.text_field :term, placeholder: t('.search_placeholder'), value: params[:term] %>
    <%= form.submit "Buscar", class: 'btn btn-primary' %>
  <% end %>

  <br>

  <%= turbo_frame_tag 'profiles_list' do %>
    <%= render 'profiles/list', profiles: @profiles, translation_scope: 'profiles.index' %>
  <% end %>
</div>
